In [1]:
import pandas as pd
import numpy as np

In [6]:
dfw = pd.read_csv("weather.csv")
dfe = pd.read_csv("energy.csv")

In [7]:
dfw.head()

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [8]:
dfe.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04

In [9]:
dfe["time"] = pd.to_datetime(dfe["time"])
dfw["dt_iso"] = pd.to_datetime(dfw["dt_iso"])

In [10]:
df = pd.merge(dfe, dfw , left_on="time", right_on="dt_iso", how="inner")

In [11]:
df.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,1,309,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,0,226,0.0,0.0,0.0,0,800,clear,sky is clear,01
3,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,7,58,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,1,21,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178396 entries, 0 to 178395
Data columns (total 46 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   time                                         178396 non-null  object
 1   generation biomass                           178301 non-null  float64
 2   generation fossil brown coal/lignite         178306 non-null  float64
 3   generation fossil coal-derived gas           178306 non-null  float64
 4   generation fossil gas                        178306 non-null  float64
 5   generation fossil hard coal                  178306 non-null  float64
 6   generation fossil oil                        178301 non-null  float64
 7   generation fossil oil shale                  178306 non-null  float64
 8   generation fossil peat                       178306 non-null  float64
 9   generation geothermal                        178306 non-null  float64
 10  generation hydro pumped storage aggregated   0 non-null       float64
 11  generation hydro pumped storage consumption  178301 non-null  float64
 12  generation hydro run-of-river and poundage   178301 non-null  float64
 13  generation hydro water reservoir             178306 non-null  float64
 14  generation marine                            178301 non-null  float64
 15  generation nuclear                           178311 non-null  float64
 16  generation other                             178306 non-null  float64
 17  generation other renewable                   178306 non-null  float64
 18  generation solar                             178306 non-null  float64
 19  generation waste                             178301 non-null  float64
 20  generation wind offshore                     178306 non-null  float64
 21  generation wind onshore                      178306 non-null  float64
 22  forecast solar day ahead                     178396 non-null  float64
 23  forecast wind offshore eday ahead            0 non-null       float64
 24  forecast wind onshore day ahead              178396 non-null  float64
 25  total load forecast                          178396 non-null  float64
 26  total load actual                            178216 non-null  float64
 27  price day ahead                              178396 non-null  float64
 28  price actual                                 178396 non-null  float64
 29  dt_iso                                       178396 non-null  object
 30  city_name                                    178396 non-null  object
 31  temp                                         178396 non-null  float64
 32  temp_min                                     178396 non-null  float64
 33  temp_max                                     178396 non-null  float64
 34  pressure                                     178396 non-null  int64
 35  humidity                                     178396 non-null  int64
 36  wind_speed                                   178396 non-null  int64
 37  wind_deg                                     178396 non-null  int64
 38  rain_1h                                      178396 non-null  float64
 39  rain_3h                                      178396 non-null  float64
 40  snow_3h                                      178396 non-null  float64
 41  clouds_all                                   178396 non-null  int64
 42  weather_id                                   178396 non-null  int64
 43  weather_main                                 178396 non-null  object
 44  weather_description                          178396 non-null  object
 45  weather_icon                                 178396 non-null  object
dtypes: float64(34), int64(6), object(6)
memory usage: 64.0+ MB

In [13]:
unique_values = dfw['weather_main'].unique()
print(unique_values)

['clear' 'clouds' 'rain' 'mist' 'thunderstorm' 'drizzle' 'fog' 'smoke'
 'haze' 'snow' 'dust' 'squall']

In [14]:
df.isnull().sum()

time                                                0
generation biomass                                 95
generation fossil brown coal/lignite               90
generation fossil coal-derived gas                 90
generation fossil gas                              90
generation fossil hard coal                        90
generation fossil oil                              95
generation fossil oil shale                        90
generation fossil peat                             90
generation geothermal                              90
generation hydro pumped storage aggregated     178396
generation hydro pumped storage consumption        95
generation hydro run-of-river and poundage         95
generation hydro water reservoir                   90
generation marine                                  95
generation nuclear                                 85
generation other                                   90
generation other renewable                         90
generation solar                                   90
generation waste                                   95
generation wind offshore                           90
generation wind onshore                            90
forecast solar day ahead                            0
forecast wind offshore eday ahead              178396
forecast wind onshore day ahead                     0
total load forecast                                 0
total load actual                                 180
price day ahead                                     0
price actual                                        0
dt_iso                                              0
city_name                                           0
temp                                                0
temp_min                                            0
temp_max                                            0
pressure                                            0
humidity                                            0
wind_speed                                          0
wind_deg                                            0
rain_1h                                             0
rain_3h                                             0
snow_3h                                             0
clouds_all                                          0
weather_id                                          0
weather_main                                        0
weather_description                                 0
weather_icon                                        0
dtype: int64

In [15]:
df.fillna(0.0, inplace=True)

In [16]:
df = df.drop('generation hydro pumped storage aggregated', axis=1)
df = df.drop('forecast wind offshore eday ahead', axis=1)

In [17]:
df.isnull().sum()

time                                           0
generation biomass                             0
generation fossil brown coal/lignite           0
generation fossil coal-derived gas             0
generation fossil gas                          0
generation fossil hard coal                    0
generation fossil oil                          0
generation fossil oil shale                    0
generation fossil peat                         0
generation geothermal                          0
generation hydro pumped storage consumption    0
generation hydro run-of-river and poundage     0
generation hydro water reservoir               0
generation marine                              0
generation nuclear                             0
generation other                               0
generation other renewable                     0
generation solar                               0
generation waste                               0
generation wind offshore                       0
generation wind onshore                        0
forecast solar day ahead                       0
forecast wind onshore day ahead                0
total load forecast                            0
total load actual                              0
price day ahead                                0
price actual                                   0
dt_iso                                         0
city_name                                      0
temp                                           0
temp_min                                       0
temp_max                                       0
pressure                                       0
humidity                                       0
wind_speed                                     0
wind_deg                                       0
rain_1h                                        0
rain_3h                                        0
snow_3h                                        0
clouds_all                                     0
weather_id                                     0
weather_main                                   0
weather_description                            0
weather_icon                                   0
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178396 entries, 0 to 178395
Data columns (total 44 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   time                                         178396 non-null  object
 1   generation biomass                           178396 non-null  float64
 2   generation fossil brown coal/lignite         178396 non-null  float64
 3   generation fossil coal-derived gas           178396 non-null  float64
 4   generation fossil gas                        178396 non-null  float64
 5   generation fossil hard coal                  178396 non-null  float64
 6   generation fossil oil                        178396 non-null  float64
 7   generation fossil oil shale                  178396 non-null  float64
 8   generation fossil peat                       178396 non-null  float64
 9   generation geothermal                        178396 non-null  float64
 10  generation hydro pumped storage consumption  178396 non-null  float64
 11  generation hydro run-of-river and poundage   178396 non-null  float64
 12  generation hydro water reservoir             178396 non-null  float64
 13  generation marine                            178396 non-null  float64
 14  generation nuclear                           178396 non-null  float64
 15  generation other                             178396 non-null  float64
 16  generation other renewable                   178396 non-null  float64
 17  generation solar                             178396 non-null  float64
 18  generation waste                             178396 non-null  float64
 19  generation wind offshore                     178396 non-null  float64
 20  generation wind onshore                      178396 non-null  float64
 21  forecast solar day ahead                     178396 non-null  float64
 22  forecast wind onshore day ahead              178396 non-null  float64
 23  total load forecast                          178396 non-null  float64
 24  total load actual                            178396 non-null  float64
 25  price day ahead                              178396 non-null  float64
 26  price actual                                 178396 non-null  float64
 27  dt_iso                                       178396 non-null  object
 28  city_name                                    178396 non-null  object
 29  temp                                         178396 non-null  float64
 30  temp_min                                     178396 non-null  float64
 31  temp_max                                     178396 non-null  float64
 32  pressure                                     178396 non-null  int64
 33  humidity                                     178396 non-null  int64
 34  wind_speed                                   178396 non-null  int64
 35  wind_deg                                     178396 non-null  int64
 36  rain_1h                                      178396 non-null  float64
 37  rain_3h                                      178396 non-null  float64
 38  snow_3h                                      178396 non-null  float64
 39  clouds_all                                   178396 non-null  int64
 40  weather_id                                   178396 non-null  int64
 41  weather_main                                 178396 non-null  object
 42  weather_description                          178396 non-null  object
 43  weather_icon                                 178396 non-null  object
dtypes: float64(32), int64(6), object(6)
memory usage: 61.2+ MB

In [20]:
df['generation fossil brown coal/lignite'] = df['generation fossil brown coal/lignite'].astype(int)
df['generation fossil coal-derived gas'] = df['generation fossil coal-derived gas'].astype(int)
df['generation fossil gas'] = df['generation fossil gas'].astype(int)
df['generation fossil hard coal'] = df['generation fossil hard coal'].astype(int)
df['generation fossil oil'] = df['generation fossil oil'].astype(int)
df['generation fossil oil shale'] = df['generation fossil oil shale'].astype(int)
df['generation fossil peat'] = df['generation fossil peat'].astype(int)
df['total load forecast'] = df['total load forecast'].astype(int)
df['total load actual'] = df['total load actual'].astype(int)
df['price day ahead'] = df['price day ahead'].astype(int)
df['price actual'] = df['price actual'].astype(int)
df['temp'] = df['temp'].astype(int)

In [30]:
df.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,447.0,329,0,4844,4821,162,0,0,0.0,...,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 00:00:00+01:00,447.0,329,0,4844,4821,162,0,0,0.0,...,1,309,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 00:00:00+01:00,447.0,329,0,4844,4821,162,0,0,0.0,...,0,226,0.0,0.0,0.0,0,800,clear,sky is clear,01
3,2015-01-01 00:00:00+01:00,447.0,329,0,4844,4821,162,0,0,0.0,...,7,58,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 00:00:00+01:00,447.0,329,0,4844,4821,162,0,0,0.0,...,1,21,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [42]:
pd.set_option('display.max_columns', None)
print(df)

                             time  generation biomass  \
0       2015-01-01 00:00:00+01:00               447.0
1       2015-01-01 00:00:00+01:00               447.0
2       2015-01-01 00:00:00+01:00               447.0
3       2015-01-01 00:00:00+01:00               447.0
4       2015-01-01 00:00:00+01:00               447.0
...                           ...                 ...
178391  2018-12-31 23:00:00+01:00               290.0
178392  2018-12-31 23:00:00+01:00               290.0
178393  2018-12-31 23:00:00+01:00               290.0
178394  2018-12-31 23:00:00+01:00               290.0
178395  2018-12-31 23:00:00+01:00               290.0

        generation fossil brown coal/lignite  \
0                                        329
1                                        329
2                                        329
3                                        329
4                                        329
...                                      ...
178391                                     0
178392                                     0
178393                                     0
178394                                     0
178395                                     0

        generation fossil coal-derived gas  generation fossil gas  \
0                                        0                   4844
1                                        0                   4844
2                                        0                   4844
3                                        0                   4844
4                                        0                   4844
...                                    ...                    ...
178391                                   0                   6926
178392                                   0                   6926
178393                                   0                   6926
178394                                   0                   6926
178395                                   0                   6926

        generation fossil hard coal  generation fossil oil  \
0                              4821                    162
1                              4821                    162
2                              4821                    162
3                              4821                    162
4                              4821                    162
...                             ...                    ...
178391                         2166                    163
178392                         2166                    163
178393                         2166                    163
178394                         2166                    163
178395                         2166                    163

        generation fossil oil shale  generation fossil peat  \
0                                 0                       0
1                                 0                       0
2                                 0                       0
3                                 0                       0
4                                 0                       0
...                             ...                     ...
178391                            0                       0
178392                            0                       0
178393                            0                       0
178394                            0                       0
178395                            0                       0

        generation geothermal  generation hydro pumped storage consumption  \
0                         0.0                                        863.0
1                         0.0                                        863.0
2                         0.0                                        863.0
3                         0.0                                        863.0
4                         0.0                                        863.0
...                       ...                                          ...
178391                    0.0                                        108.0
178392                    0.0                                        108.0
178393                    0.0                                        108.0
178394                    0.0                                        108.0
178395                    0.0                                        108.0

        generation hydro run-of-river and poundage  \
0                                           1051.0
1                                           1051.0
2                                           1051.0
3                                           1051.0
4                                           1051.0
...                                            ...
178391                                      1069.0
178392                                      1069.0
178393                                      1069.0
178394                                      1069.0
178395                                      1069.0

        generation hydro water reservoir  generation marine  \
0                                 1899.0                0.0
1                                 1899.0                0.0
2                                 1899.0                0.0
3                                 1899.0                0.0
4                                 1899.0                0.0
...                                  ...                ...
178391                            1686.0                0.0
178392                            1686.0                0.0
178393                            1686.0                0.0
178394                            1686.0                0.0
178395                            1686.0                0.0

        generation nuclear  generation other  generation other renewable  \
0                   7096.0              43.0                        73.0
1                   7096.0              43.0                        73.0
2                   7096.0              43.0                        73.0
3                   7096.0              43.0                        73.0
4                   7096.0              43.0                        73.0
...                    ...               ...                         ...
178391              6075.0              61.0                        92.0
178392              6075.0              61.0                        92.0
178393              6075.0              61.0                        92.0
178394              6075.0              61.0                        92.0
178395              6075.0              61.0                        92.0

        generation solar  generation waste  generation wind offshore  \
0                   49.0             196.0                       0.0
1                   49.0             196.0                       0.0
2                   49.0             196.0                       0.0
3                   49.0             196.0                       0.0
4                   49.0             196.0                       0.0
...                  ...               ...                       ...
178391              31.0             287.0                       0.0
178392              31.0             287.0                       0.0
178393              31.0             287.0                       0.0
178394              31.0             287.0                       0.0
178395              31.0             287.0                       0.0

        generation wind onshore  forecast solar day ahead  \
0                        6378.0                      17.0
1                        6378.0                      17.0
2                        6378.0                      17.0
3                        6378.0                      17.0
4                        6378.0                      17.0
...                         ...                       ...
178391                   3651.0                      26.0
178392                   3651.0                      26.0
178393                   3651.0                      26.0
178394                   3651.0                      26.0
178395                   3651.0                      26.0

        forecast wind onshore day ahead  total load forecast  \
0                                6436.0                26118
1                                6436.0                26118
2                                6436.0                26118
3                                6436.0                26118
4                                6436.0                26118
...                                 ...                  ...
178391                           3117.0                24424
178392                           3117.0                24424
178393                           3117.0                24424
178394                           3117.0                24424
178395                           3117.0                24424

        total load actual  price day ahead  price actual  \
0                   25385               50            65
1                   25385               50            65
2                   25385               50            65
3                   25385               50            65
4                   25385               50            65
...                   ...              ...           ...
178391              24455               64            69
178392              24455               64            69
178393              24455               64            69
178394              24455               64            69
178395              24455               64            69

                           dt_iso   city_name  temp    temp_min    temp_max  \
0       2015-01-01 00:00:00+01:00    Valencia   270  270.475000  270.475000
1       2015-01-01 00:00:00+01:00      Madrid   267  267.325000  267.325000
2       2015-01-01 00:00:00+01:00      Bilbao   269  269.657312  269.657312
3       2015-01-01 00:00:00+01:00   Barcelona   281  281.625000  281.625000
4       2015-01-01 00:00:00+01:00     Seville   273  273.375000  273.375000
...                           ...         ...   ...         ...         ...
178391  2018-12-31 23:00:00+01:00    Valencia   279  278.150000  280.150000
178392  2018-12-31 23:00:00+01:00      Madrid   275  275.150000  275.150000
178393  2018-12-31 23:00:00+01:00      Bilbao   275  275.150000  276.150000
178394  2018-12-31 23:00:00+01:00   Barcelona   280  277.150000  283.150000
178395  2018-12-31 23:00:00+01:00     Seville   283  282.150000  285.150000

        pressure  humidity  wind_speed  wind_deg  rain_1h  rain_3h  snow_3h  \
0           1001        77           1        62      0.0      0.0      0.0
1            971        63           1       309      0.0      0.0      0.0
2           1036        97           0       226      0.0      0.0      0.0
3           1035       100           7        58      0.0      0.0      0.0
4           1039        75           1        21      0.0      0.0      0.0
...          ...       ...         ...       ...      ...      ...      ...
178391      1029        75           2       300      0.0      0.0      0.0
178392      1031        74           1       360      0.0      0.0      0.0
178393      1034        93           2       100      0.0      0.0      0.0
178394      1028       100           5       310      0.0      0.0      0.0
178395      1029        70           3        50      0.0      0.0      0.0

        clouds_all  weather_id weather_main weather_description weather_icon
0                0         800        clear        sky is clear          01n
1                0         800        clear        sky is clear          01n
2                0         800        clear        sky is clear           01
3                0         800        clear        sky is clear          01n
4                0         800        clear        sky is clear          01n
...            ...         ...          ...                 ...          ...
178391           0         800        clear        sky is clear          01n
178392           0         800        clear        sky is clear          01n
178393           0         800        clear        sky is clear          01n
178394           0         800        clear        sky is clear          01n
178395           0         800        clear        sky is clear          01n

[178396 rows x 44 columns]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178396 entries, 0 to 178395
Data columns (total 44 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   time                                         178396 non-null  object
 1   generation biomass                           178396 non-null  float64
 2   generation fossil brown coal/lignite         178396 non-null  int32
 3   generation fossil coal-derived gas           178396 non-null  int32
 4   generation fossil gas                        178396 non-null  int32
 5   generation fossil hard coal                  178396 non-null  int32
 6   generation fossil oil                        178396 non-null  int32
 7   generation fossil oil shale                  178396 non-null  int32
 8   generation fossil peat                       178396 non-null  int32
 9   generation geothermal                        178396 non-null  float64
 10  generation hydro pumped storage consumption  178396 non-null  float64
 11  generation hydro run-of-river and poundage   178396 non-null  float64
 12  generation hydro water reservoir             178396 non-null  float64
 13  generation marine                            178396 non-null  float64
 14  generation nuclear                           178396 non-null  float64
 15  generation other                             178396 non-null  float64
 16  generation other renewable                   178396 non-null  float64
 17  generation solar                             178396 non-null  float64
 18  generation waste                             178396 non-null  float64
 19  generation wind offshore                     178396 non-null  float64
 20  generation wind onshore                      178396 non-null  float64
 21  forecast solar day ahead                     178396 non-null  float64
 22  forecast wind onshore day ahead              178396 non-null  float64
 23  total load forecast                          178396 non-null  int32
 24  total load actual                            178396 non-null  int32
 25  price day ahead                              178396 non-null  int32
 26  price actual                                 178396 non-null  int32
 27  dt_iso                                       178396 non-null  object
 28  city_name                                    178396 non-null  object
 29  temp                                         178396 non-null  int32
 30  temp_min                                     178396 non-null  float64
 31  temp_max                                     178396 non-null  float64
 32  pressure                                     178396 non-null  int64
 33  humidity                                     178396 non-null  int64
 34  wind_speed                                   178396 non-null  int64
 35  wind_deg                                     178396 non-null  int64
 36  rain_1h                                      178396 non-null  float64
 37  rain_3h                                      178396 non-null  float64
 38  snow_3h                                      178396 non-null  float64
 39  clouds_all                                   178396 non-null  int64
 40  weather_id                                   178396 non-null  int64
 41  weather_main                                 178396 non-null  object
 42  weather_description                          178396 non-null  object
 43  weather_icon                                 178396 non-null  object
dtypes: float64(20), int32(12), int64(6), object(6)
memory usage: 53.1+ MB

# energy demand based on weather

In [35]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import mean_absolute_error, accuracy_score
from sklearn.preprocessing import StandardScaler

In [38]:
# Select the independent variables and target variables for total load forecast
X_total_load = df[['temp', 'pressure', 'humidity', 'wind_speed', 'wind_deg']]
y_total_load = df['total load forecast']

# Split the data into training and testing sets for total load forecast
X_train_total_load, X_test_total_load, y_train_total_load, y_test_total_load = train_test_split(X_total_load, y_total_load, test_size=0.2, random_state=42)

# Create and train the Multiple Linear Regression model for total load forecast
model_total_load = LinearRegression()
model_total_load.fit(X_train_total_load, y_train_total_load)

# Make predictions on the testing set for total load forecast
y_pred_total_load = model_total_load.predict(X_test_total_load)


# Select the independent variables and target variables for weather main
X_weather_main = df[['temp', 'pressure', 'humidity', 'wind_speed', 'wind_deg']]
y_weather_main = df['weather_main']

# Split the data into training and testing sets for weather main
X_train_weather_main, X_test_weather_main, y_train_weather_main, y_test_weather_main = train_test_split(X_weather_main, y_weather_main, test_size=0.2, random_state=42)

# Scale the data for weather main
scaler = StandardScaler()
X_train_weather_main_scaled = scaler.fit_transform(X_train_weather_main)
X_test_weather_main_scaled = scaler.transform(X_test_weather_main)

# Create and train the Logistic Regression model for weather main
model_weather_main = LogisticRegression(max_iter=1000, solver='sag')
model_weather_main.fit(X_train_weather_main_scaled, y_train_weather_main)

# Make predictions on the testing set for weather main
y_pred_weather_main = model_weather_main.predict(X_test_weather_main_scaled)


# Get user input for the weather attributes
temp = float(input("Enter the temperature: "))
pressure = float(input("Enter the pressure: "))
humidity = float(input("Enter the humidity: "))
wind_speed = float(input("Enter the wind speed: "))
wind_deg = float(input("Enter the wind degree: "))

# Scale the user input
user_input_scaled = scaler.transform([[temp, pressure, humidity, wind_speed, wind_deg]])

# Predict the total load forecast based on user input
prediction_total_load = model_total_load.predict(user_input_scaled)

# Predict the weather main based on user input
prediction_weather_main = model_weather_main.predict(user_input_scaled)

# Print the predicted total load forecast and weather main
print("Predicted total load forecast:", prediction_total_load[0])
print("Predicted weather main:", prediction_weather_main[0])

C:\Users\Mohammed Kayser\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

Enter the temperature: 279.626
Enter the pressure: 998
Enter the humidity: 99
Enter the wind speed: 1
Enter the wind degree: 314
Predicted total load forecast: 22431.576665085577
Predicted weather main: clouds

In [ ]:
# Evaluate the model for total load forecast
mae_total_load = mean_absolute_error(y_test_total_load, y_pred_total_load)
mse_total_load = mean_squared_error(y_test_total_load, y_pred_total_load)
r2_total_load = r2_score(y_test_total_load, y_pred_total_load)

print("Evaluation metrics for Total Load Forecast:")
print("Mean Absolute Error (MAE):", mae_total_load)
print("Mean Squared Error (MSE):", mse_total_load)
print("R-squared (R2):", r2_total_load)

# Evaluate the model for weather main
accuracy_weather_main = accuracy_score(y_test_weather_main, y_pred_weather_main)

print("Evaluation metric for Weather Main:")
print("Accuracy:", accuracy_weather_main)

# energy prize based on weather

In [ ]:
# Select the independent variables and target variables for prize day ahead
X_prize_day_ahead = df[['temp', 'pressure', 'humidity', 'wind_speed', 'wind_deg']]
y_prize_day_ahead = df['price day ahead']

# Split the data into training and testing sets for prize day ahead
X_train_prize_day_ahead, X_test_prize_day_ahead, y_train_prize_day_ahead, y_test_prize_day_ahead = train_test_split(X_prize_day_ahead, y_prize_day_ahead, test_size=0.2, random_state=42)

# Create and train the Multiple Linear Regression model for prize day ahead
model_prize_day_ahead = LinearRegression()
model_prize_day_ahead.fit(X_train_prize_day_ahead, y_train_prize_day_ahead)

# Make predictions on the testing set for prize day ahead
y_pred_prize_day_ahead = model_prize_day_ahead.predict(X_test_prize_day_ahead)


# Select the independent variables and target variables for weather main
X_weather_main = df[['temp', 'pressure', 'humidity', 'wind_speed', 'wind_deg']]
y_weather_main = df['weather_main']

# Split the data into training and testing sets for weather main
X_train_weather_main, X_test_weather_main, y_train_weather_main, y_test_weather_main = train_test_split(X_weather_main, y_weather_main, test_size=0.2, random_state=42)

# Scale the data for weather main
scaler = StandardScaler()
X_train_weather_main_scaled = scaler.fit_transform(X_train_weather_main)
X_test_weather_main_scaled = scaler.transform(X_test_weather_main)

# Create and train the Logistic Regression model for weather main
model_weather_main = LogisticRegression(max_iter=1000, solver='sag')
model_weather_main.fit(X_train_weather_main_scaled, y_train_weather_main)

# Make predictions on the testing set for weather main
y_pred_weather_main = model_weather_main.predict(X_test_weather_main_scaled)


# Get user input for the weather attributes
temp = float(input("Enter the temperature: "))
pressure = float(input("Enter the pressure: "))
humidity = float(input("Enter the humidity: "))
wind_speed = float(input("Enter the wind speed: "))
wind_deg = float(input("Enter the wind degree: "))

# Scale the user input
user_input_scaled = scaler.transform([[temp, pressure, humidity, wind_speed, wind_deg]])

# Predict the prize day ahead based on user input
prediction_prize_day_ahead = model_prize_day_ahead.predict(user_input_scaled)

# Predict the weather main based on user input
prediction_weather_main = model_weather_main.predict(user_input_scaled)

# Print the predicted prize day ahead and weather main
print("Predicted prize day ahead:", prediction_prize_day_ahead[0])
print("Predicted weather main:", prediction_weather_main[0])

In [ ]:
# Evaluate the model for prize day ahead
mae_prize_day_ahead = mean_absolute_error(y_test_prize_day_ahead, y_pred_prize_day_ahead)
mse_prize_day_ahead = mean_squared_error(y_test_prize_day_ahead, y_pred_prize_day_ahead)
r2_prize_day_ahead = r2_score(y_test_prize_day_ahead, y_pred_prize_day_ahead)

print("Evaluation metrics for Prize Day Ahead:")
print("Mean Absolute Error (MAE):", mae_prize_day_ahead)
print("Mean Squared Error (MSE):", mse_prize_day_ahead)
print("R-squared (R2):", r2_prize_day_ahead)

# Evaluate the model for weather main
accuracy_weather_main2 = accuracy_score(y_test_weather_main, y_pred_weather_main)

print("Evaluation metric for Weather Main:")
print("Accuracy:", accuracy_weather_main)

In [37]:
df.to_csv('oil_gas.csv', index=False)